<head>
<link href='https://fonts.googleapis.com/css?family=Baumans' rel='stylesheet'>
<style>
body {font-family:'Baumans';}
a{color:#F2C973;}
p{color:#DA8CFF;}
h1{color:#DA8CFF;}
h2{color:#DA8CFF;}
h3{color:#DA8CFF;}
li{color:#F2C973;}
body{background-color:#B5FEE6;}
