a{font-family: 'Marker Felt', fantasy;}
a{color:#DA8CFF;}
p{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
p{color:#DA8CFF;}
h1{font-family: 'Marker Felt', fantasy;}
h1{color:#DA8CFF;}
h2{font-family: 'Marker Felt', fantasy;}
h2{color:#DA8CFF;}
h3{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h3{color:#DA8CFF;}
li{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
li{color:#F2C973;}
body{background-color:#B5FEE6;}
