<head>
<link href='https://fonts.googleapis.com/css?family=Baumans' rel='stylesheet'>
<style>
body {font-family:'Baumans';}
a{color:#cceaff;}
p{color:#e2ccff;}
h1{color:#e2ccff;}
h2{color:#e2ccff;}
h3{color:#e2ccff;}
li{color:#cceaff3;}
body{background-color:#808aff;}
